*{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Fonte da Página */

body{
    height: 100vh;
    background: linear-gradient(to right, rgb(246,246,246)60% , rgb(94, 94, 94));
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
    
}
/* Barra de cima com as informações */

header{
    padding:40px 4%
}
/* Header inteiro */

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Apenas os itens da class interface dentro do header */


header a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    /* comando display para o transform funcionar */
}
/* Links do header */

header a:hover{
    color:rgb(29, 29, 233);
    transform: scale(1.05);
}
/* Quando colocar o ponteiro em cima dos links(header a) */

header nav ul{
    list-style-type: none;
}
/* Lista */

header nav ul li{
    display: inline-flex;
    padding: 0 40px;
    
}
/* Itens da lista */

.botoesum{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(48, 48, 248);
    border: 0;
    border-radius: 20px;
    cursor:pointer;
    color:white
}

.principal {
    display: flex;
    padding: 50px;
    align-items: top;
    margin-left: 50px;
    margin-top: 30px;
}

.texto {
    flex: 1;
}

.texto p{
    font-size: 20px;
}

.cor{
    color:rgb(48, 48, 248);
}

.imagem{
    margin-left: 10px;   
    margin-top: -20px;
}


.especialidades{ /* Especialidades */
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.especialidades li{
display: inline-block;
justify-content: space-evenly;
width: 30%;
padding: 30px 20px;
box-sizing: border-box;
border: 2px solid #000000;
border-radius: 10px;
}

.especialidades i{
    font-size: 60px;
    color: rgb(48, 48, 248);
}

.especialidades p{
    font-size: 20px;
}

.especialidades h2{
    font-size: 25px;
}

.tituloespecialiadades{
    color: rgb(48, 48, 248);
    display: flex;
    justify-content: center;
    align-items: center;
} /* Especialidades */

.minhasinformacoes{ /* Sobre */
    color:rgb(48, 48, 248);
}

.sobretexto{
    text-align: center;
}

.sobretexto p{
    color: rgb(48, 48, 248);
}

.cor{
    color: rgb(48, 48, 248);
  } /* Sobre */


.projeto1{ /* Projetos */
    display: flex;
    align-items: top;
}

.projeto1 img{
    margin-right: 20px;
}

.textoprojeto h1{
    color: rgb(48, 48, 248);
}

.textoprojeto a{
    text-decoration-color: rgb(48, 48, 248);
} /* Projetos */


/* Contatos */
.Contatostitulo{
    color: rgb(48, 48, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{ 
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}


.links li{ 
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1 1% ;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.links{
    font-size: 25px;
    font-weight: bold;
}
/* Contatos */

html {
    scroll-behavior: smooth;
}