*{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* Fonte da Página */
  
  body{
      height: 100vh;
      background: linear-gradient(to right, rgb(246,246,246)60% , rgb(94, 94, 94));
  }
  
  .interface{
      max-width: 1200px;
      margin: 0 auto;
      
  }
  /* Barra de cima com as informações */
  
  header{
      padding:40px 4%
  }
  /* Header inteiro */
  
  header > .interface{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  /* Apenas os itens da class interface dentro do header */
  
  
  header a{
      color: #000;
      text-decoration: none;
      display: inline-block;
      transition: .2s;
      /* comando display para o transform funcionar */
  }
  /* Links do header */
  
  header a:hover{
      color:rgb(29, 29, 233);
      transform: scale(1.05);
  }
  /* Quando colocar o ponteiro em cima dos links(header a) */
  
  header nav ul{
      list-style-type: none;
  }
  /* Lista */
  
  header nav ul li{
      display: inline-block;
      padding: 0 40px;
  }
  /* Itens da lista */
  
  header .contato button{
      padding: 10px 30px;
      font-size: 18px;
      font-weight: 400;
      background-color: rgb(48, 48, 248);
      border: 0;
      border-radius: 20px;
      cursor:pointer
  }
  /* Comando para personalizar o botão dos conatos */
  
  header .contato button{
      color:white
  }
  /* Comando para mudar a cor do botão */

  .projeto1 {
    display: flex;
    align-items: top;
  }

.projeto1 img {
    margin-right: 20px;
}

.textoprojeto h1{
    color: rgb(48, 48, 248);
}

.textoprojeto a{
    text-decoration-color: rgb(48, 48, 248);
}
